.container {
    background-color: var(--body-bg-colour);
}

.innerContainer {
    display: flex;
    flex-direction: column;
    
}

.cv {
    border-radius: 30px;
    border: none;
    background-color: var(--button-colour);
    color: var(--button-text);
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 3rem;
    max-width: 7.5rem;
    max-height: 3rem;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strapline {
    font-size: xx-large;
}

.highlight {
    color: var(--highlight-text);
    font-weight: 900;
 
}

.contactDetails span {
    text-decoration: underline;
}

@media (min-width: 1536px) {
    .container {
      width: 1536px;
      padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    }

    .innerContainer {
        align-items: flex-start;
    gap: 3rem;
    }

    .strapline {
        text-align: left;
    }
  }

  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
      padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    }

    .innerContainer {
        align-items: flex-start;
        gap: 3rem;
    }

    .strapline {
        text-align: left;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
    }

    .innerContainer {
        align-items: center;
        gap: 2rem;
        text-align: center;
    }

    .strapline {
        text-align: center;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
      padding: 3rem;
    }
  }