@media (min-width: 1536px) {
    .container {
      max-width: 1536px;
      padding: 5rem;

    }

    .postContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .blogTitle {
      margin-bottom: 3rem;
    }
    
  }
    
    /* 2xl */
    @media (max-width: 1536px) {
      .container {
        max-width: 1280px;
        padding: 5rem;

      }

      .postContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .blogTitle {
      margin-bottom: 3rem;
    }
    
    }
    
    /* xl */
    @media (max-width: 1280px) {
      .container {
        max-width: 1024px;
      }
    }
    
    /* lg */
    @media (max-width: 1024px) {
      .container {
        max-width: 768px;
      }
    }
    
    /* md */
    @media (max-width: 768px) {
      .container {
        max-width: 640px;
        padding: 3rem;
      }
      .postContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    
    
    }
    
    /* sm */
    @media (max-width: 640px) {
      .container {
        max-width: 475px;
        padding: 2rem;
        align-items: center;
        gap: 2rem;
      }
      .postContainer {
        grid-template-columns: 1fr;
    }

    .blogTitle {
      margin-bottom: 0rem;
    }
    }

.container {
    display: flex;
    flex-direction: column;
    background-color: #CBC3C3;
}


.postContainer {
    display: grid;
    /* grid-auto-rows: auto; */
    gap: 1em;
}

.card {
    min-height: 10rem;
    height: 100%;
    border-radius: 30px;
    background-color: #E9F3FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}



.mainBlogPageDate {
    font-style:italic;
    align-self: end;
    justify-self: end;
    
}




