@media (min-width: 1536px) {
    .container {
      width: 1536px;
      padding: 5rem;

    }

    .blogTitle {
      margin-bottom: 3rem;
    }
    
  }
    
    /* 2xl */
    @media (max-width: 1536px) {
      .container {
        width: 1280px;
        padding: 5rem;

      }

    .blogTitle {
      margin-bottom: 3rem;
    }
    
    }
    
    /* xl */
    @media (max-width: 1280px) {
      .container {
        max-width: 1024px;
      }
    }
    
    /* lg */
    @media (max-width: 1024px) {
      .container {
        max-width: 768px;
      }
    }
    
    /* md */
    @media (max-width: 768px) {
      .container {
        max-width: 640px;
        padding: 3rem;
      }
    }
    
    /* sm */
    @media (max-width: 640px) {
      .container {
        max-width: 475px;
        padding: 2rem;
        align-items: center;
        gap: 2rem;
      }

    .blogTitle {
      margin-bottom: 0rem;
    }
    }

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-colour);
}










