.container {
    width: 1536px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--hero-bg-colour);
}
  

  /* 2xl */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }

    .description {
      padding: 3rem;
      font-size: xx-large;
  }
    .innerContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 5rem;
    }

    .cv {
      align-self: end;
      margin-left: 3rem;
    }
  }
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }

    .description {
      padding: 3rem;
      font-size: xx-large;
  }
    .innerContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 5rem;
    }

    .cv {
      align-self: end;
      margin-left: 3rem;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }

    .description {
      padding: 3rem;
      font-size: x-large;
    }

    .innerContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .cv {
      align-self: end;
      margin-left: 3rem;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .innerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cv {
      align-self: center;
      margin-left: 0;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }

    .innerContainer {
      margin: 4rem;
    }

    
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    .innerContainer {
      margin: 3rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }

    .innerContainer {
      margin: 1rem;
    }

    .description {
      padding: 1rem;
    }
  }

.innerContainer {
    background-color: var(--hero-fg-colour);
    border-radius:30px;
}

.highlight {
    color: var(--highlight-text);
    font-weight: 900;
 
}

.cv {
    border-radius: 30px;
    border: none;
    background-color: var(--button-colour);
    color: var(--button-text);
    font-size: 1rem;
    font-weight: 200;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 7.5rem;
    max-height: 3rem;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}