@tailwind base;
@tailwind components;
@tailwind utilities;

#experience img {
  filter: var(--black-img-filter);
} 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#navbar .open {
  top: 3.7em;
}

body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

html {scroll-behavior: smooth;}

body {
  color: var(--main-text-colour);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

:root #dark {
  --header-bg-colour: #3c096c;
  --hero-bg-colour: linear-gradient(#3c096c, #5a189a);
  --hero-fg-colour: #4a1382;
  --highlight-text: #ff9e00;
  --button-colour: #9d4edd;
  --body-bg-colour: #5a189a;
  --footer-bg-colour: linear-gradient(#5a189a, #3c096c);
  --button-text: #ff9e00;
  --blog-profile-border: #ff9e00;



  --main-text-colour: #ff6d00;
  --background: #240046; 
  --mui-chip-filled: #7f3ac4;

  /* --black-img-filter: invert(35%) sepia(70%) saturate(591%) hue-rotate(344deg) brightness(100%) contrast(93%); */
  transition: all .50s ease;

}

:root #light {
  --header-bg-colour: rgb(226, 226, 226);
  --hero-bg-colour: linear-gradient( #e2e2e2, #b5b8bc);
  --hero-fg-colour: #dadada;
  --highlight-text: #3c096c;
  --button-colour: #343a40;
  --body-bg-colour: #b5b8bc;
  --footer-bg-colour: linear-gradient( #b5b8bc, rgb(226, 226, 226));
  --button-text: #ced4da;
  --blog-profile-border: f8f9fa;
  --blog-profile-border: #3c096c;

  --main-text-colour: #3c096c;
  --background: #e9e0e0;
  --mui-chip-filled: #dadada;

  /* --black-img-filter: invert(15%) sepia(48%) saturate(2794%) hue-rotate(254deg) brightness(89%) contrast(121%); */
  transition: all .50s ease;

}

:root {

  --black-img-filter: invert(100%);

  --header-bg-colour: rgb(226, 226, 226);
  --hero-bg-colour: linear-gradient( #e2e2e2, #b5b8bc);
  --hero-fg-colour: #dadada;
  --highlight-text: #3c096c;
  --button-colour: #343a40;
  --body-bg-colour: #b5b8bc;
  --footer-bg-colour: linear-gradient( #b5b8bc, rgb(226, 226, 226));
  --button-text: #ced4da;
  --blog-profile-border: f8f9fa;
  --blog-profile-border: #3c096c;

  --main-text-colour: #3c096c;
  --background: #e9e0e0;
  --mui-chip-filled: #dadada;

  /* --black-img-filter: invert(15%) sepia(48%) saturate(2794%) hue-rotate(254deg) brightness(89%) contrast(121%); */
  transition: all .50s ease;
  .MuiChip-root {
    border: 1px solid var(--main-text-colour);
    color: var(--main-text-colour);
  }

  .MuiChip-filled {
    background-color: var(--mui-chip-filled);
  }

  .MuiChip-outlined {
    background-color: var(--body-bg-colour);
  }


}

