.container {
    width: 1536px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--body-bg-colour);
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .container h1 {
    font-weight: 800;
    font-size: 4em;
  }

  .clientsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 2rem;
  }
}
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }

    .container h1 {
      font-weight: 800;
      font-size: 4em;
    }

    .clientsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-content: center;
      gap: 2rem;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }

    .container h1 {
      font-weight: 800;
      font-size: 3em;
    }

    .clientsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      gap: 2rem;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }

    .container h1 {
      font-weight: 800;
      font-size: 2em;
    }

    .clientsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      gap: 2rem;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    .container h1 {
      font-weight: 800;
      font-size: 1.5em;
    }

    .clientsContainer {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 2rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }

.container h1 {
    align-self: center;
}

.clientsContainer{
    padding-left: 5rem;
    padding-right: 5rem;
    /* width: 100%; */
    
    
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* height: 10rem; */
}

.clientsContainer img {
    width: auto;
    height: auto;
    justify-self: center;
    align-self: center;
} 

.container {
    width: 100%;
}