.socials {
    display: flex;
    max-height: 5rem;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.socials a {
    width: 2rem;
    height: auto;
}

.socials img {
    width: 100%;
}