.article {
    line-height: 2;
    margin-bottom: 3rem;
}

.article p {
    margin-top: 1rem;
}

.article h2 {
  margin-top: 1rem;
  font-size: larger;
  font-weight: 600;
}

.article a {
  text-decoration: underline;
}

.article p:first-child {
    margin-top: 0px;
    font-style: italic;
    font-size: 1.1em;
}

.entryPageDate {
    font-style: italic;
    margin-bottom: 2rem;
}

.border {
  box-sizing: border-box;
  border-top: 1px solid;
  padding-top: 8rem;
}

.article li {
  display: list-item;
  margin-left: 1em;
}

.article {
  font-size: x-large;
}