.posts {
  /* pb-12 pt-4 box-border border-b border-white hover:border-highlighttext w-full min-w-full */

  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  border-bottom: 1px solid;
  
}

.posts:hover {
  border-bottom: 1px solid #ff6d00;
}